<section class="content-header">
    <div class="container-fluid">
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-left">
                
              {% for crumb in breadcrumbs %}

                {% if crumb.url %}
                <li class="breadcrumb-item">
                    <a href="{{ crumb.url }}">{{ crumb.name }}</a>
                </li>
                 {% else %}
                <li class="breadcrumb-item active">
                {{ crumb.name }}
                </li>
                {% endif %}
            {% endfor %}
            </ol>
        </div>
    </div>
</section>
