<aside class="main-sidebar sidebar-dark-primary elevation-4">

  <a href="{% url 'dashboard' %}" class="brand-link">
    <span class="brand-text font-weight-light">SIMSekolah</span>
  </a>
{% load account_tags %}

{% user_profile_info %}
  <div class="sidebar">
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview">

        {% if user.is_superuser %}
          {% include "admin/menu/admin_menu.html" %}
        {% elif user.groups.first.name == "Teacher" %}
          {% include "dashboard/teachers/_menu.html" %}
        {% else %}
          {% include "dashboard/students/_menu.html" %}
        {% endif %}

      </ul>
    </nav>
  </div>
</aside>
