{% extends 'website/base.html' %}
{% load static %}

{% block content %}
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">Selamat Datang di SIM Sekolah</h1>
                    <p class="lead fw-normal text-white-50 mb-4">Pusat informasi dan manajemen akademik terpadu untuk masa depan gemilang.</p>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
                <img class="img-fluid rounded-3 my-5" src="{% static 'website/assets/hero.jpg' %}" alt="..." />
            </div>
        </div>
    </div>
</header>

<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="text-center">
                    <h2 class="fw-bolder">Berita Terbaru</h2>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row gx-5">
            {% for post in posts %}
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">News</div>
                        <a class="text-decoration-none link-dark stretched-link" href="{% url 'website:post_detail' post.slug %}">
                            <h5 class="card-title mb-3">{{ post.title }}</h5>
                        </a>
                        <p class="card-text mb-0">{{ post.content|truncatewords:20 }}</p>
                    </div>
                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                        <div class="small text-muted">{{ post.published_at|date:"d M Y" }}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
