{% extends 'website/base.html' %}

{% block title %}{{ post.title }} - Berita Sekolah{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-9">
                <article>
                    <header class="mb-4">
                        <h1 class="fw-bolder mb-1">{{ post.title }}</h1>
                        <div class="text-muted fst-italic mb-2">
                            Dipublikasikan pada {{ post.published_at|date:"d F Y" }}
                        </div>
                        <a class="badge bg-secondary text-decoration-none link-light" href="#!">Berita</a>
                        <a class="badge bg-secondary text-decoration-none link-light" href="#!">Pengumuman</a>
                    </header>
                    <figure class="mb-4">
                        <img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." />
                    </figure>
                    <section class="mb-5 fs-5">
                        {{ post.content|linebreaksbr }}
                    </section>
                </article>
                <hr>
                <a href="{% url 'website:blog_list' %}" class="btn btn-primary mt-3">
                    <i class="bi bi-arrow-left"></i> Kembali ke Daftar Berita
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
