<div class="container px-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center mb-5">
                <h2 class="fw-bolder">Lokasi Sekolah Kami</h2>
                <p class="lead mb-0">RA. Al-Marzuqiyah - Jl. Suci No.112, Ciracas, Jakarta Timur.</p>
            </div>
        </div>

        <div class="card shadow border-0 overflow-hidden">
            <div class="card-body p-0">
                <iframe 
                    width="100%" 
                    height="450" 
                    style="border:0;" 
                    loading="lazy" 
                    allowfullscreen 
                    referrerpolicy="no-referrer-when-downgrade"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.736605054178!2d106.86513037482976!3d-6.315358993674003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69ed77abcb729f%3A0x60bfd86bdd2de6f0!2sRA.%20Al-%20Marzuqiyah!5e0!3m2!1sid!2sid!4v1709745000000!5m2!1sid!2sid">
                </iframe>
            </div>
            <div class="p-3 bg-white text-center border-top">
                <div class="mb-2">
                    <small class="text-muted"><i class="bi bi-geo-alt-fill"></i> Jl. Suci No.112, RT.4/RW.4, Susukan, Kec. Ciracas, Kota Jakarta Timur</small>
                </div>
                <a href="https://maps.google.com/?cid=6971408017326261904" 
                   target="_blank" 
                   class="btn btn-primary shadow-sm">
                   <i class="bi bi-cursor-fill"></i> Petunjuk Arah (Google Maps)
                </a>
            </div>
        </div>
    </div>
