<li class="nav-item">
  <a href="{% url 'dashboard' %}" class="nav-link {% if request.resolver_match.url_name == 'dashboard' %}text-white font-weight-bold{% endif %}">
    <i class="nav-icon fas fa-home"></i>
    <p>Dashboard</p>
  </a>
</li>

<li class="nav-item {% if 'teacher' in request.path or 'student' in request.path %}menu-open{% endif %}">
  <a href="#" class="nav-link {% if 'teacher' in request.path or 'student' in request.path %}active{% endif %}">
    <i class="nav-icon fas fa-users"></i>
    <p>
      Manajemen User
      <i class="right fas fa-angle-left"></i>
    </p>
  </a>

  <ul class="nav nav-treeview">
    <li class="nav-item">
      <a href="{% url 'accounts:teacher_list' %}" 
         class="nav-link {% if 'teacher' in request.path %}active{% endif %}">
            <i class="fas fa-chalkboard-teacher nav-icon"></i>
            <p {% if 'teacher' in request.path %}class="font-weight-bold"{% endif %}>Guru</p>
        </a>
    </li>

    <li class="nav-item">
      <a href="{% url 'accounts:student_list' %}" 
         class="nav-link {% if 'student' in request.path %}active{% endif %}">
            <i class="fas fa-user-graduate nav-icon"></i>
            <p {% if 'student' in request.path %}class="font-weight-bold"{% endif %}>Siswa</p>
      </a>
    </li>
</ul>
</li>
<li class="nav-item {% if 'post' in request.path or 'page' in request.path or 'banners' in request.path or 'ProfileSekolah' in request.path %}menu-open{% endif %}">
  
  <a href="#" class="nav-link {% if 'post' in request.path or 'page' in request.path or 'banners' in request.path or 'ProfileSekolah' in request.path %}active{% endif %}">
    <i class="nav-icon fas fa-globe-asia"></i> <p>
      Manajemen Website
      <i class="right fas fa-angle-left"></i>
    </p>
  </a>

  <ul class="nav nav-treeview">
    <li class="nav-item">
        <a href="{% url 'website:post_list' %}" 
           class="nav-link {% if 'post' in request.path %}active{% endif %}">
            <i class="far fa-newspaper nav-icon"></i>
            <p {% if 'post' in request.path %}class="font-weight-bold"{% endif %}>Post Website</p>
        </a>
    </li>

    <li class="nav-item">
        <a href="{% url 'website:page_list' %}" 
           class="nav-link {% if 'page' in request.path %}active{% endif %}">
            <i class="fas fa-copy nav-icon"></i>
            <p {% if 'page' in request.path %}class="font-weight-bold"{% endif %}>Halaman Website</p>
        </a>
    </li>

    <li class="nav-item">
        <a href="{% url 'website:banner_list' %}" 
           class="nav-link {% if 'banners' in request.path %}active{% endif %}">
            <i class="fas fa-image nav-icon"></i>
            <p {% if 'banners' in request.path %}class="font-weight-bold"{% endif %}>Banner Website</p>
        </a>
    </li>

    <li class="nav-item">
        <a href="{% url 'website:edit_profile_sekolah' %}" 
           class="nav-link {% if 'ProfileSekolah' in request.path %}active{% endif %}">
            <i class="fas fa-school nav-icon"></i>
            <p {% if 'ProfileSekolah' in request.path %}class="font-weight-bold"{% endif %}>Profil Sekolah</p>
        </a>
    </li>
</ul>
</li>
